@charset "UTF-8";

.mainContent {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    align-items: center;
}

.navBar, .subNavBar {
    width: 100%;
    background-color: white;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
}

.navBar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.navBar > a > p{
    display: flex;
    align-items: center;
}

#buttonForBarMobile{
    display: none;
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
}

.subNavBar{
    /* padding: 0 20px; */
    margin-top: 10px;
}


.mobileDisplay{
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    margin-left: 20px;
    align-items: center;
    height: 100%;
    min-width: 230px;
}

.profile {
    align-items: center;
}

