@charset "UTF-8";

.profileSection {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin-top: 30px;
}

.profileDetails {
    display: flex;
    flex-basis: 100%;
    max-width: 600px;
    margin: 10px 10px 10px 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgba(62, 151, 255, 0.10);
    background-color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    transition: 1s ease-in-out;
}

.profileName, .sumUp, .details, .details > h2 {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.profileName, .details, .details > h2{
    margin: 5px 0;
}

.details, .details {
    padding: 5px;
    border-radius: 10px;
    border: 1px dashed var(--myLightBlueButton);
}

.personalInformation {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: var(--my-box-shadow);

}

.profileName {
    align-items: center;
}

.profileName > h1 {
    font-size: 14pt;
}

.justifyProfileSectionDetails {
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    margin-top: 40px;
    justify-content: space-around;
    border-radius: 10px;
}

.sumUp {
    height: 100%;
    justify-content: center;
    flex-wrap: nowrap;
}

.sumUp > div.sumUpDetails {
    justify-content: space-between;
    flex-basis: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--my-box-shadow);
}

.sumUp > div.sumUpDetails:not(:last-child){
    margin-right: 20px;
}

.sumUp > div.sumUpDetails > h3 {
    font-weight: normal;
}

.sumUp > div.sumUpDetails > h3 > .fa-up-long {
    color: rgba(50, 205, 50, 0.60);
}

.sumUp > div.sumUpDetails > h3 > .fa-down-long {
    color: rgba(255, 69, 0, 0.60);
}

#detailsTopic > h2 {
    display: flex;
    flex-basis: 80%;
    justify-content: flex-start;
    align-items: center;
    font-size: 11pt;
    padding-bottom: 10px;
}

.fa-pen-to-square {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
}

#detailsTopic {
    flex-wrap: wrap;
    margin-bottom: 30px;
}