@charset "UTF-8";

/* Estilos do form */

.formConteiner {
    display: flex;
    max-width: 600px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    margin: 40px auto;
    padding: 10px;
    overflow: auto;
    box-shadow: var(--my-box-shadow);
}

form#register {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: space-between;

}

 .residenceData {
     flex-wrap: wrap;    
}

.secundSide{
flex-basis: 50%;
/* background-color: red;   */
}

.documentData{
flex-basis: 50%;
/* background-color: aqua;     */
}

label {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 5px;
}

h1.formTitle {
    display: flex;
    flex-basis: 100%;
    font-size: 18pt;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

/* Estilos adicionais */

.labelInputConteiner {
    display: flex;
    flex-basis: 100%;
    margin: auto;
    max-width: 90%;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: right;
    margin: 30px 0;
}
