/* styles.css */

/* Estilos do form */

.formConteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fefefe;
    margin: auto;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: var(--my-box-shadow);
}


label {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 5px;
}

h1.formTitle{
    display: flex;
    flex-basis: 100%;
    font-size: 18pt;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

/* Estilos adicionais */

.labelInputConteiner{
    display: flex;
    flex-basis: 100%;
    margin: auto;
    max-width: 90%;
    flex-wrap: wrap;
}

.button-container{
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: right;
    margin: 20px 0;
}
