/* styles.css */

/* Estilos do form */

.formConteiner {
    display: flex;
    /*flex-basis: 100%;*/
    max-width: 500px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fefefe;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--my-box-shadow);
}

form#register {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    /*background-color: #17C653;*/
}

.documentData, .residenceData, .parentsNames, .contacts {
    /*display: flex;*/
    flex-direction: column;
}

.documentData {
    display: flex;
    flex-basis: 50%;
    /*background-color: red;*/
}

.residenceData {
    /*background-color: var(--myLightBlue);*/
}

.parentsNames {
    /*background-color: gold;*/
}

.contacts {
    /*background-color: aqua;*/
}

/*.dataArange {*/
/*    display: flex;*/
/*    flex-basis: 100%;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*}*/

.secundSideOfPaiment {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: center;
    /*background-color: #F0F0F0;*/
}


label {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 5px;
}

h1.formTitle {
    display: flex;
    flex-basis: 100%;
    font-size: 18pt;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

/* Estilos adicionais */

.labelInputConteiner {
    display: flex;
    flex-basis: 100%;
    margin: auto;
    max-width: 90%;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: right;
    margin: 20px 0;
}
