

.info-text, .warn-text, .error-text, .info-blue-text {
    display: block;

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100%;*/

}

.info-blue-text {
    background-color: #E8F3FF;
    color: #106EC5;
}


.info-text {
    background-color: #E8FFF2;
    color: #17C653;
}

.warn-text {
    background-color: #FFFFE6;
    color: #FFCC00;
}

.error-text {
    background-color: #FFE6E6;
    color: #FF0000;
}




.info-blue-text-without-backgroud {
    color: #106EC5;
}


.info-text-without-backgroud {
    color: #17C653;
}

.warn-text-without-backgroud {
    color: #FFCC00;
}

.error-text-without-backgroud {
    color: #FF0000;
}