@charset "UTF-8";


input {
}

.checkboxConteiner > input {
    margin-right: 10px;
}

.checkboxConteiner > label {
    font-weight: bold;
}

.checkbox_and_radio_style {
    padding: 20px 0;
    border-bottom: 1px dashed var(--myLightBlueButton);
}

.labelInputConteiner > h3{
    display: flex;
    flex-basis: 100%;
    padding-bottom: 20px;
    /*background-color: #17C653;*/
}

.labelInputConteiner {

    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px 0;
}


.radioInputConteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 12px;
    /*background-color: blue;*/
}

.radioInputConteiner > input{
    flex-basis: 50%;
    margin-right: 10px;
}

.radioInputConteiner > label:not(:last-child){
    /*flex-basis: 50%;*/
    margin-right: 20px;
}

.button-conteiner{
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 40px 0 30px 0;
}

/* SET DATATABLE INPUTS */

div.dt-container .dt-search input, .dt-input{
    border: 1px solid rgba(204, 204, 204, 0.35) !important;
    padding: 5px !important;
}

input[type="text"], input[type="email"],
input[type="password"], input[type="number"],
input[type="tel"],input[type="date"],
textarea,
select{

    display: flex;
    flex-basis: 100%;
    margin: 5px 0 10px 0;
}

input[type="text"], input[type="email"],
input[type="password"], input[type="number"],
input[type="tel"],
input[type="search"],input[type="date"],
textarea,
select{

    padding: 10px;
    border: 1px solid rgba(204, 204, 204, 0.35);
    box-sizing: border-box;
    margin: 5px 0 10px 0;
}

input[type="text"], input[type="email"],
input[type="password"], input[type="number"],
input[type="tel"],
input[type="search"],
textarea,
select {
    margin: 5px 0 10px 0;
}

input[type="date"]{
margin-bottom: 6px;
}

/* select{
margin-bottom: 0;
} */

