@charset "UTF-8";


@media screen and (max-width: 500px){
    .btn {
        border-radius: 25px;
        padding: 5px 10px;
        margin: 0 10px;
        height: 30px;
        font-size: 10px;

    }
}