@charset "UTF-8";

/* 
.dt-length-0{
visibility: hidden;
} */

.tableConteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1300px;
    min-width: 280px;
    background-color: white;
    align-items: center;
    margin: 40px 5px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: var(--my-box-shadow);
    overflow-y: auto;
}

.display{
    background-color: white;
}

.actionEye{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    /*background-color: gold;*/

}

td.action, th.action{
    text-align: center;
}

td > a > i{
    border-radius: 50%;
    height: auto;
    color: var(--myLightBlue);
    background-color: var(--myLightBlueButton);
    font-weight: bold;
    font-size: 10pt;
    box-shadow: var(--my-box-shadow);
    border: 1px solid transparent;
}

td > a > i:not(last-child){
    margin-right: 10px;
   /*border: 2px solid black;*/
}

td > a > i:hover{
    box-shadow: var(--my-box-shadow);
    border: 1px solid var(--myLightBlue);
}
